# Análise de Dados - SENAC RJ

## Aula 5

### Revisão Completa

In [50]:
num1 = 20
num2 = 30
resultado = num1 + num2
print(resultado)

50

In [51]:
print(f'O resultade de {num1} + {num2} é {resultado}')

O resultade de 20 + 30 é 50

In [52]:
num3 = int(input('digite o primeiro Nº: '))
num4 = int(input('Digite o segundo Nº: '))
resultado2 = num3 + num4
print(resultado2)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
b1 = 8.5
b2 = 7.5
b3 = 8.9
b4 = 7.8

media = (b1+b2+b3+b4) / 4

if media >= 7:
    print('Aprovado')
elif media >=5 and media <7:
    print('Recuperação')
else:
    print('Reprovado')

Aprovado

In [ ]:
while True:
    try:
        num3 = int(input('digite o primeiro Nº: '))
        break
    except:
        print('Digite um nº válido')

Digite um nº válido
Digite um nº válido

In [ ]:
contador = 0

while contador <=5:
    print(contador)
    contador += 1

0
1
2
3
4
5

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
produtos = ('Fogão','Geledeira')
tipo_dado = type(produtos)
print(tipo_dado)

<class 'tuple'>

In [ ]:
nome = 'Joao'
idade = 20.3
cpf = 35698545698
print(len(idade))

TypeError: object of type 'float' has no len()

In [55]:
produtos = ['Fogão','Geledeira']
preco = [600, 2500]
tipo_dado = type(produtos)
print(produtos[1])

Geledeira

In [54]:
for i in range(2):
    print(i)

0
1

In [53]:
for i in range(len(produtos)):
    print(f'O produto {produtos[i]} custa R$ {preco[i]}')

O produto Fogão custa R$ 600
O produto Geledeira custa R$ 2500

In [61]:
lista = ['chocolate', 'maçã','ovo', 'sabão', 'Coca', 'ovo']
lista[1] = 'Goiaba'
lista.insert(2,'Queijo')
lista.remove('ovo')
lista.pop(0)
print(lista)

['Goiaba', 'Queijo', 'sabão', 'Coca', 'ovo']

## Crie variáveis para 
## armazenar nome, 
## idade e cidade.
## - Exiba essas 
## informações usando 
## print.

In [ ]:
'''Crie variáveis para 
armazenar nome, 
idade e cidade.
- Exiba essas 
informações usando 
print.'''

In [ ]:


ista = [1, 2, 3]
print(lista[0])